<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head') %>
  </head>
  <body>
    <%- include('header') %>
    <div id="main-content" class="container">
        <h2>User doesn't exist. Please check customers page to see all list of customers</h2>
      <button class="transfer btn btn-info btn-lg" onclick = "location.href = '/api/transaction';">Transfer</button>
        <!--<a href="/api/transaction" style="align-items: center"
          ><button">Transfer</button></a
        >-->
    </div>

    <%- include('footer') %>
    <!--<script src="transc.js"></script>-->
    <script src="../js/practice.js"></script>
  </body>
</html>
