<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Banking System</title>
    <!--<link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css">
    <script src="https://kit.fontawesome.com/60aaad55e1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">-->
    
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/bcb68d8883.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/styles.css">
    <style>
      
    </style>
  </head>
<body>
  <header>
    <nav id="header-nav" class="navbar navbar-default">
            <div class="container">
              <div class="navbar-header">
                <a href="index.html" class="pull-left visible-md visible-lg">
                  <div id="logo-img">
                  </div>
                </a>


                <div class="navbar-brand">
                  <a href="index.html">
                    <h1> Banking System </h1>
                  </a>
                </div>

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
                  <span class="sr-only"> Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span></button>
                </button>
              </div>

              <div id="collapsable-nav" class="collapse navbar-collapse">
                <ul id="nav-list" class="nav navbar-nav navbar-right">
                  <li>
                    <a href="#">
                      <span class="fa fa-home"></span><br class="hidden-xs"> Home</a>
                  </li>
                 <li>
                   <a href="/customers">
                     <span class="fa fa-list"></span><br class="hidden-xs">Customers</a>
                 </li>
                 <li>
                   <a href="/transaction">
                     <span class="fa fa-exchange-alt"></span><br class="hidden-xs"> Transfer Amount</a>
                 </li>
                 <li>
                  <a href="/addUser">
                    <span class="fa fa-exchange-alt"></span><br class="hidden-xs"> Add User</a>
                </li>
                 <li>
                 </li>
                 <li id="phone" class="hidden-xs">
                   <a href="tel:+916384118334">
                     <span>+916384118334</span></a><div>* We Deliver</div>
                 </li>
                 
               </ul><!-- #nav-list -->
             </div><!-- .collapse .navbar-collapse -->

            </div>
     </nav>
  </header>

    <div id="call-btn" class="visible-xs">
      <a class="btn" href="tel:+916384118334">
      <span class="glyphicon glyphicon-earphone"></span>
      +916384118334
      </a>
    </div>
    <div id="xs-deliver" class="text-center visible-xs">* We Deliver</div>


    <div id="main-content" class="container">
      <div class="jumbotron">
        <!--<img src="images/banking.jpg" alt="Picture of restaurant" class="img-responsive visible-xs main-image">-->
        <img >
      </div>

    </div>

    <footer class="panel-footer">
      <div class="container">
        <div class="row">
          <section id="hours" class="col-sm-4">
            <span>Hours:</span><br>
            Sun-Thurs: 11:15am - 10:00pm<br>
            Fri: 11:15am - 2:30pm<br>
            Saturday Closed
            <hr class="visible-xs">
          </section>
          <section id="address" class="col-sm-4">
            <span>Address:</span><br>
            Bharathi Salai<br>
            Ramapuram, 600089<br>
            <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
              <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
              <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
              <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
              <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
              <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
            <hr class="visible-xs">
          </section>
          <section id="testimonials" class="col-sm-4">
            <p>"This project is done for my Sparks-foundation internship"</p>
            <p>&copy;Nithin Shnamugam 2021</p>
          </section>
        
    </footer>
  
  


  <!-- jQuery (Bootstrap JS plugins depend on it) -->
  <script src="js/jquery-2.1.4.min.js"></script> 
  <script src="js/bootstrap.min.js"></script>
  <script src="js/script.js"></script>
</body>
</html>
